<%-include('partials/header.ejs')%>
<div class="text-center" >
    <h3 style="text-align:center">Sorry, no such dish.</h3>
    <img src="/images/sad.png"  alt="" style="width:165px;">
</div>

<%-include('partials/footer.ejs')%>